<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title|default('JTrack') }}</title>
    <link rel="stylesheet" href="{{ asset('css/site.css') }}">
    <link rel="stylesheet" href="{{ asset('fa/css/font-awesome.min.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="flex flex-col h-full">
    {{ include('navigation.html.twig') }}
    {{ include('breadcrumbs.html.twig') }}
    <div id="content" class="flex-1">
    {{ include('flash_bag.html.twig') }}
    {% block body %}{% endblock %}
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('#toggler').change(function () {
      $('.toggle').prop('checked', this.checked);
    });
  });
</script>
{% block js %}{% endblock %}
</html>